.ladesaeulen .table {
    overflow: auto;
    border-collapse: collapse;
    background-color: #FFF;
    color: #333;
}

.ladesaeulen .nav-pills {
    padding: 6px;
}

.gfi-header {
    background: #FFF;
    margin-bottom: 8x;
}

.text-align-center {
    text-align: center;
}

.ladesaeulen .barladesaeulenBelegt-graph{
    fill: #DC0000;
}

.ladesaeulen .barladesaeulenBelegt-graph:hover {
  fill: #999999;
}

.ladesaeulen .barladesaeulenVerfuegbar-graph{
    fill: #00DC00;
}

.ladesaeulen .barladesaeulenVerfuegbar-graph:hover {
  fill: #999999;
}

.ladesaeulen .barladesaeulenAusserBetrieb-graph{
    fill: #AFAFAF;
}

.ladesaeulen .barladesaeulenAusserBetrieb-graph:hover {
  fill: #FF9933;
}

.ladesaeulen .noData {
  font-size: 14px;
  text-align: center;
  text-anchor: middle;
}

.ladesaeulen .leftButton {
    float: left;
    background-color: #FFFFFF;
    padding: 1px 6px;
}

.ladesaeulen .rightButton {
    float: right;
    background-color: #FFFFFF;
    padding: 1px 6px;
}
.ladesaeulen .day {
    padding-top: 8px;
    font-weight: bold;
}
