.mouse-position {
    /*float: left;*/
    margin-bottom: 28px;
    background-color: rgb(182, 0, 0);
    color: rgb(255, 255, 255);
    font-size: 11px;
}

.mouse-position > div {
    padding: 4px 8px;
    border-right: 1px solid rgb(255, 255, 255);
}

.mouse-position > .glyphicon {
    cursor: pointer;
    font-size: 16px;
    padding: 4px 5px 4px 2px;
    top: 0;
}

.mouse-position > .glyphicon-chevron-left {
    padding: 4px;
}
